import(xtable)
export(classify, nlcv, scoresPlot, mcrPlot, confusionMatrix, 
       simulateData, rankDistributionPlot, limmaTwoGroups, pamrTrain, pamrML, pamrI,
       rocPlot, nldaI)
exportMethods("topTable")       
S3method(summary, mcrPlot)
S3method(print, summary.mcrPlot)
S3method(xtable, summary.mcrPlot)
S3method(confusionMatrix, nlcv)
S3method(print, nlcvConfusionMatrix)
S3method(xtable, confusionMatrix)
S3method(print, pamrML)
S3method(predict, pamrML)